@import "media";
@import "global";
@import "travels";
@import "footer";

#header {
  background: #1E2024;

  .navbar {
    padding: 23px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--nav {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        padding: 0 15px;
        font-weight: 500;
        font-size: 14px;
        color: #9099A3;
        transition: .4s;

        &:hover {
          color: #ffffff;
        }
      }
    }

    &--logins {
      display: flex;
      justify-content: center;
      align-items: center;

      select {
        outline: none;
        background: transparent;
        color: #fff;
        border: none;
      }

      button {
        margin-left: 40px;
        width: 100px;
        height: 40px;
        box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
        border-radius: 15px;
        background: #2964f6;
        font-weight: 900;
        font-size: 14px;
        color: #FFFFFF;
        border: 1px solid #a3b2d0;
        cursor: pointer;
        transition: .4s;

        &:hover {
          background: transparent;
          border: 1px solid #9099A3;
          color: #9099A3;
        }
      }
    }
  }
}

#hero {
  background: url("../img/bg.png") no-repeat center/cover;
  min-height: 80vh;

  .general {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 10px;

    &--block {
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
      }

      h2 {
        color: #9099A3;
        padding: 0 5px;
      }

      a {
        color: #9099A3;
        font-size: 25px;
      }
    }
  }

  .hero {
    h1 {
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;
      padding-bottom: 10px;
    }

    p {
      width: 419px;
      height: 81px;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #FFFFFF;
      padding-bottom: 26px;
    }

    &--buttons {
      &__one {
        width: 178px;
        height: 40px;
        background: #1A5CFF;
        border-radius: 15px;
        font-weight: 900;
        font-size: 18px;
        text-transform: capitalize;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        transition: .4s;

        &:hover {
          color: #9099A3;
          background: transparent;
          border: 1px solid #9099A3;
        }
      }

      &__two {
        width: 100px;
        height: 40px;
        border: 1px solid #9099A3;
        border-radius: 15px;
        font-weight: 900;
        font-size: 18px;
        text-transform: capitalize;
        color: #9099A3;
        background: transparent;
        cursor: pointer;
        margin-left: 20px;
        transition: .4s;

        &:hover {
          border: 1px solid #9099A3;
          background: #1A5CFF;
          color: #FFFFFF;
        }
      }
    }
  }
}

#missions {
  background: #1E2024;

  h1 {
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    padding-bottom: 20px;
  }

  .missions {
    width: 1040px;
    height: 600px;
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;

    &--block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 40px;
      padding-left: 40px;

      img {
        width: 80%;
      }

      p {
        width: 510px;
        height: 126px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-transform: capitalize;
        color: #2C3E50;
        padding-bottom: 23px;
      }
    }

    &--group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding-top: 40px;

      &__paragraph {
        width: 370px;
        height: 147px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-transform: capitalize;
        color: #2C3E50;
      }

      h1 {
        font-weight: 700;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 1px;
        color: #2C3E50;
      }

      &__one {
        display: flex;
        justify-content: center;
        align-items: start;

        a {
          color: #1A5CFF;
          font-size: 20px;
          padding-right: 15px;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 25px;
          color: #2C3E50;
        }
      }

      &__block {
        display: flex;
        justify-content: center;
        align-items: center;

        &--two {
          padding-right: 150px;

          p {
            font-weight: 400;
            font-size: 14px;
            color: #2C3E50;
          }

          h3 {
            font-weight: 700;
            font-size: 14px;
            color: #2C3E50;
          }
        }
      }
    }
  }
}

#formats {
  background: #1E2024;

  h1 {
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .formats {
    display: flex;
    flex-wrap: wrap;

    &--block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 500px;
      height: 300px;
      background: #FFFFFF;
      border-radius: 15px;
      margin-bottom: 60px;
      margin-right: 40px;

      &__img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-left: 30px;

        h4 {
          font-weight: 900;
          font-size: 24px;
          color: #9099A3;
          padding-right: 30px;
        }
      }

      h1 {
        padding-top: 20px;
        padding-bottom: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #2C3E50;
        padding-left: 30px;
      }

      p {
        margin-left: 30px;
        width: 397px;
        height: 63px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #2C3E50;
      }

      button {
        margin-bottom: 20px;
        margin-top: 15px;
        margin-left: 300px;
        width: 180px;
        height: 40px;
        background: #1A5CFF;
        box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
        border-radius: 15px;
        font-weight: 900;
        font-size: 18px;
        text-transform: capitalize;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        transition: .4s;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          padding-left: 23px;
          color: #FFFFFF;
          font-size: 22px;
        }

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

#participants {
  background: #1E2024;

  h1 {
    font-weight: 900;
    font-size: 36px;
    color: #FFFFFF;
    padding-top: 88px;
    padding-bottom: 13px;
  }

  .participants {
    overflow: hidden;

    &--country {
      display: flex;
      animation-name: scroll-right;
      animation-duration: 38s;
      animation: scroll-left 15s infinite linear;
      @keyframes scroll-left {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }

      h1 {
        padding: 10px 40px;
        font-weight: 900;
        font-size: 64px;
        color: #FFFFFF;
      }
    }

    &--city {
      display: flex;
      animation-name: scroll-right;
      animation-duration: 38s;
      animation: scroll-left 17s infinite linear;
      @keyframes scroll-left {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }

      h2 {
        padding: 0 50px;
        font-weight: 900;
        font-size: 36px;
        color: #FFFFFF;
      }
    }

    &--borough {
      display: flex;
      animation-name: scroll-right;
      animation-duration: 38s;
      animation: scroll-left 19s infinite linear;
      @keyframes scroll-left {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }

      h3 {
        padding: 10px 60px;
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
      }
    }
  }
}

#choices {
  background: #1E2024;

  .choices {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 100px;


    &--block {
      padding-right: 27px;

      h1 {
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
        padding-bottom: 10px;
      }

      p {
        width: 268px;
        height: 72px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #9099A3;
      }
    }

    &--group {
      h4 {
        font-weight: 400;
        font-size: 14px;
        color: #9099A3;
      }

      input {
        outline: none;
        width: 600px;
        height: 60px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 15px;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 20px;
        border: none;
        padding-left: 10px;
      }

      &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 100px;

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
          padding-right: 30px;
        }

        button {
          width: 280px;
          height: 60px;
          background: #1A5CFF;
          box-shadow: 0 5px 8px rgba(26, 92, 255, 0.2);
          border-radius: 15px;
          font-weight: 700;
          font-size: 18px;
          color: #FFFFFF;
          border: none;
          cursor: pointer;
          transition: .4s;

          &:hover {
            background: #4b7aef;
          }
        }
      }
    }
  }
}

#travels {
  background: #1E2024;

  h1 {
    padding-top: 100px;
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 20px;
    color: #FFFFFF;
  }

  .travels {
    width: 1040px;
    height: 400px;
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding-left: 40px;

      h1 {
        padding-top: 50px;
        padding-bottom: 10px;
        font-weight: 700;
        font-size: 20px;
        color: #000000;
      }

      p {
        height: 63px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
      }

      &__group {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 65px;

        &--one {
          display: flex;

          a {
            padding-right: 20px;
            font-size: 20px;
            color: #1A5CFF;
          }

          p {
            padding-right: 36px;
          }
        }

        &--two {
          display: flex;

          a {
            padding-right: 20px;
            font-size: 20px;
            color: #1A5CFF;
          }
        }
      }

      button {
        width: 441px;
        height: 40px;
        background: #1A5CFF;
        box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
        border-radius: 15px;
        font-weight: 900;
        font-size: 18px;
        text-transform: capitalize;
        color: #FFFFFF;
        border: none;
        transition: .4s;
        cursor: pointer;
        margin-bottom: 30px;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

#process {
  background: #1E2024;

  h1 {
    font-weight: 900;
    font-size: 36px;
    color: #FFFFFF;
    padding-top: 86px;
    padding-bottom: 40px;
    text-align: center;
  }

  .process {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;

    &--block {
      padding: 20px 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        font-weight: 900;
        font-size: 36px;
        color: #FFFFFF;
      }

      h2 {
        padding-top: 10px;
        padding-bottom: 5px;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        color: #FFFFFF;
      }

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
      }
    }
  }
}

#participation {
  background: #1E2024;

  .participation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;
      padding-top: 100px;
      text-align: center;
    }

    p {
      text-align: center;
      width: 869px;
      height: 120px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 30px;
      color: #FFFFFF;
    }
  }

  .block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    &--one {
      width: 310px;
      height: 370px;
      background: #FFFFFF;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: start;
      padding-left: 15px;

      h1 {
        font-weight: 700;
        font-size: 16px;
        padding-top: 11px;
        color: #2C3E50;
      }

      &__group {
        display: flex;
        justify-content: center;
        align-items: end;

        &--numbers {
          h1 {
            font-weight: 700;
            font-size: 36px;
            padding-bottom: 1px;
            color: #2C3E50;
          }

          a {
            padding: 7px 20px;
            background: #9099A3;
            border-radius: 5px;
            font-weight: 400;
            font-size: 12px;
            color: #FFFFFF;
          }
        }

        h2 {
          font-weight: 500;
          font-size: 16px;
          text-decoration-line: line-through;
          color: #9099A3;
        }
      }

      p {
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #2C3E50;
      }

      button {
        width: 280px;
        height: 50px;
        background: #2C3E50;
        border-radius: 15px;
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        cursor: pointer;
        border: none;
        transition: .4s;

        &:hover {
          background: #1A5CFF;
        }
      }

      &__red {
        display: flex;
        justify-content: center;
        padding-left: 110px;

        h2 {
          padding-top: 5px;
          padding-bottom: 21px;
          font-weight: 500;
          font-size: 16px;
          color: #2C3E50;
        }
      }
    }
  }
}

#details {
  background: #1E2024;

  .details {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 100px;

    &--block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        color: #FFFFFF;
      }
    }

    &--group {
      summary {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        padding: 15px 0;
      }

      details {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
      }
    }
  }
}
