@import "media";
@import "global";

#header {
  background: #1E2024;

  .navbar {
    padding: 23px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--nav {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        padding: 0 15px;
        font-weight: 500;
        font-size: 14px;
        color: #9099A3;
        transition: .4s;

        &:hover {
          color: #ffffff;
        }
      }
    }

    &--logins {
      display: flex;
      justify-content: center;
      align-items: center;

      select {
        outline: none;
        background: transparent;
        color: #fff;
        border: none;
      }

      button {
        margin-left: 40px;
        width: 100px;
        height: 40px;
        box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
        border-radius: 15px;
        background: #2964f6;
        font-weight: 900;
        font-size: 14px;
        color: #FFFFFF;
        border: 1px solid #a3b2d0;
        cursor: pointer;
        transition: .4s;

        &:hover {
          background: transparent;
          border: 1px solid #9099A3;
          color: #9099A3;
        }
      }
    }
  }
}